.header {
  display: flex;
  align-items: center;
  margin: 92px auto 96px;
}

.header__links-list {
  /* список с ссылками меню */
  display: flex;
  max-width: 391.5px;
  list-style-type: circle;
  gap: 33px;
  margin-left: 52px;
  margin-right: 35px;
  padding-top: 5px;
}

.link_underline {
  padding-bottom: 1px;
  border-bottom: 1.3px solid;
}

.header__links-list-item_no-bullit {
  /* ссылка без кружочка (элемент списка) */
  list-style-type: none;
}

.header__logo {
  /* контейнер для логотипа */
  width: 148px;
  height: 105px;
}

.address {
  /* контейнер с адресом */
  font-style: normal; /* сбрасываем браузерный стиль у <address> */
  max-width: 240.5px;
  line-height: 1.4;
  padding-top: 2px;
}

.header__address {
  /* для выравнивания блока с адресом в шапке */
  margin-left: 188px;
}

.cover {
  position: relative;
  margin-bottom: 176px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;
  z-index: 1;
}

.cover__title {
  position: relative;
  color: white;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 29px;
  line-height: 1.22;
  z-index: 2;
}

.letter-spacing-extended {
  letter-spacing: 61px;
}

.aligned-text-left {
  display: block;
  padding-left: 49px;
  padding-top: 164px;
}

.aligned-text-center {
  display: block;
  padding-left: 336px;
}

.aligned-text-right {
  display: block;
  padding-left: 633px;
}

.no-letter-spacing {
  letter-spacing: 29px;
}

.cover__description {
  /* контейнер для подзаголовка и кнопки */
  position: relative;
  display: flex;
  align-items: center;
  padding: 125px 0 55px 78px;
  z-index: 2;
}

.cover__description-text {
  /* текст подзаголовка */
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  word-spacing: 18px;
  padding-right: 79px;
}

.bet-button {
  /* кнопка «Сделать ставку */
  color: white;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  border: 1.5px solid white;
  padding: 11px 31px;
} /* кнопка «Сделать ставку */

.lots {
  margin: 0 auto 146px;
  padding: 2px 24px 0 24px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 27px;
}

.lots__card-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lots__card-list-item {
  max-width: 334px;
  min-height: 563px;
  flex-grow: 1;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 51px 40px 48px;
  color: white;
  height: 100%;
  background-size: cover;
  background-position: center;
}

/*фон для 1-карточек*/
.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

/*фон для 2-й карточек*/
.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

/*фон для 3-й карточек*/
.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 1.4px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  z-index: 2;
}

.card__text {
  position: relative;
  font-size: 20px;
  line-height: 1.2;
  z-index: 2;
}

.lots__look-more-link {
  display: inline-block;
  max-width: 100%;
  padding-top: 32px;
  margin-left: 40px;
  font-size: 20px;
}

.about {
  display: grid;
  margin: 0 auto 178px;
  grid-template-columns: 334px 675px;
  grid-template-rows: 240px 322px;
  column-gap: 25px;
  padding-top: 31px;
  padding-left: 24px;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.about__logo-img {
  width: 141.5px;
  height: 112.5px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 20px;
  align-self: center;
}

.about__text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.007em;
  grid-column: 2;
  grid-row: 2;
  justify-content: space-between;
  padding-top: 8px;
}

.footer {
  display: flex;
  margin: 0 auto 88px;
  padding: 0 50px;
  justify-content: space-between;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  padding-top: 2px;
}

.footer__menu-link-active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style-type: none;
  justify-content: space-between;
}

.footer__social-list-item {
  /* контейнер для иконки */
  width: 48px;
  height: 48px;
}
